<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Mono.Helpers" version="1.2.1" targetFramework="net452" />
  <package id="Mono.Posix-4.5" version="4.5.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net452" />
  <package id="Topshelf" version="4.0.1" targetFramework="net452" />
</packages>